:root {
  --color-primary: rgb(83, 49, 156);
  --color-secondary: rgb(200, 175, 255);
  --color-background: rgb(233, 233, 255);
  --color-font: rgb(44, 44, 44);
  --color-grey: rgb(231, 231, 231);
  --color-white: white;
}

body {
  padding: 32px;
  background-color: var(--color-background);
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-font);
}

h1 {
  color: var(--color-primary);
  margin: 32px 0 64px 0;
}

.container {
  background-color: var(--color-white);
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 64px 64px;
  position: relative;
}
.container .tabs {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  font-weight: bold;
  color: var(--color-secondary);
  padding: 16px;
}
.container .tabs p {
  padding: 8px;
}
.container .tabs p.active {
  color: var(--color-primary);
  position: relative;
}
.container .tabs p.active::before {
  content: "";
  width: 200%;
  height: 5px;
  background-color: var(--color-primary);
  position: absolute;
  bottom: -32px;
  z-index: 1;
  border-radius: 30px;
  left: -50%;
}
.container .tabs p:hover {
  color: var(--color-primary);
  cursor: pointer;
  transition: color 0.15s ease-in;
}
.container .line {
  height: 3px;
  width: 100%;
  position: absolute;
  top: 98px;
  background-color: var(--color-grey);
}
.container .toggle-wrapper {
  display: flex;
  margin-top: 30px;
}
.container .toggle-wrapper img {
  height: 40px;
  margin: 0 16px;
}
.container .toggle-wrapper .toggle {
  background-color: var(--color-primary);
  height: 32px;
  width: 140px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0px 4px 0 16px;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  font-size: 12px;
  box-sizing: border-box;
}
.container .toggle-wrapper .toggle span:first-of-type {
  color: var(--color-white);
}
.container .toggle-wrapper .toggle span:last-of-type {
  background-color: var(--color-white);
  color: var(--color-primary);
  padding: 4px 16px;
  border-radius: 20px;
}
.container .sessions-card {
  background-color: rgb(250, 247, 255);
  text-align: center;
  padding: 32px;
  width: 50%;
  text-transform: uppercase;
  margin: 16px 0;
  border-radius: 10px;
  box-sizing: border-box;
}
.container .sessions-card p {
  color: var(--color-font);
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 0;
}
.container .sessions-card p.number {
  color: var(--color-primary);
  font-size: 54px;
  margin: 0;
}
.container .description {
  line-height: 32px;
  margin: 16px 0 32px 0;
}
.container .slider {
  width: 100%;
  position: relative;
  margin-bottom: 16px;
}
.container .slider .bar {
  width: 100%;
  height: 16px;
  background-color: rgb(248, 248, 248);
  border: 1px solid var(--color-grey);
  border-radius: 20px;
}
.container .slider .bar .progress {
  width: 31%;
  height: 18px;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(53, 10, 74) 36%, rgb(83, 49, 156) 100%);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.container .slider .bar .pointer {
  height: 24px;
  width: 24px;
  background-color: var(--color-primary);
  position: absolute;
  border-radius: 50%;
  border: 3px solid var(--color-white);
  left: 29%;
  top: -6px;
}
.container .slider .bar .pointer:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.2s ease-in;
}
.container .slider .scale {
  width: 100%;
}
.container .slider .scale ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-weight: bold;
  color: rgb(166, 166, 166);
}
.container .card-wrapper {
  display: flex;
}
.container .card-wrapper .card {
  background-color: rgb(250, 247, 255);
  border-radius: 10px;
  margin: 16px;
  padding: 16px 32px;
  box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
  color: var(--color-primary);
  transition: transform 0.2s ease-in-out;
  position: relative;
}
.container .card-wrapper .card:hover {
  transform: translateY(-5px);
}
.container .card-wrapper .card .top-section {
  padding: 8px;
  text-transform: uppercase;
}
.container .card-wrapper .card .top-section p {
  margin: 4px 0;
}
.container .card-wrapper .card .top-section p.price {
  font-size: 42px;
  color: var(--color-font);
}
.container .card-wrapper .card .top-section .save {
  color: var(--color-white);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(53, 10, 74) 36%, rgb(83, 49, 156) 100%);
  width: 100%;
  position: absolute;
  top: -21px;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.container .card-wrapper .card hr {
  width: 30%;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 4px;
}
.container .card-wrapper .card button {
  border: none;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 16px 32px;
  transition: transform 0.2s ease-in-out;
  font-weight: bold;
  margin: 8px 0;
}
.container .card-wrapper .card button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media only screen and (max-width: 750px) {
  .card-wrapper {
    flex-wrap: wrap-reverse;
  }
  .card-wrapper .card {
    width: 100%;
  }
}
@media only screen and (max-width: 670px) {
  body {
    padding: 16px;
  }
  h1 {
    margin: 0 0 16px 0;
  }
  .container {
    padding: 0 16px;
  }
  .container .toggle-wrapper {
    width: 90%;
    justify-content: center;
  }
  .container .sessions-card {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */